// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0d301e;
$secondary : #26A69A;
$accent    : #0d0e0d;

$dark      : #aeb8b0;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$btn       : #297747;


.logo {
  background-image: url(/horselogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: auto;
  width: auto;
}
.linha {
  width: 150px;
  border: 2px solid;
  border-color: #39c059;
}
.backgroundAdmDashboard {
  background-color: #00e676;
}
.titleDashboard {
  text-align: right;
}
.formtitle {
  color: black; 
  font-family: 'bxn';
}
.loginTitle {
  font-family: 'tomorrow';
  color: white;
  font-style: bold;
  // padding-top: 120px;
  // padding-left: 160px;
  text-align: center;
  background: #00000045;
}
.avatar {
  border: outset;
}
.buttonFont {
  font-family: 'tomorrow';
}
.backgroundLogin {
  background-image: url(/backgroundLogin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.backgroundIndex {
  background-image: url(/backgroundLogin.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.backgroundMainLayout {
  background-color: transparent !important;
}
.registroAnimal {
  background-color: #00e676;
}
.loginbutton {
  padding-left: 10px;
}

.my-card2 {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 175px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.my-card3 {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 175px;
  margin-left: 10px;
  margin-bottom: 10px;
}
